@charset "UTF-8";
/* CSS Document*/
*{
box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    background: url("background.jpeg") no-repeat center center fixed;
    background-size: cover;
}
#container{
    width: 800px;
    margin: 0 auto;
}
.left{
    width: 380px;
    height: 200px;
    background-color:rgba(184, 134, 11, 0.5);
    border-radius: 20px;
    float: left;
    margin:0px 10px 10px 15px;
    padding: 10px 10px 10px;
    border: thick cornsilk solid;
}
.right{ 
    width: 380px;
    height: 200px;
    background-color:rgba(184, 134, 11, 0.5);
    border-radius: 20px;
    float: left;
    margin:0px 0px 10px 0px;
    padding: 10px 10px 10px;
    border: thick cornsilk solid;
}
footer{
    background-color:rgb(255, 255, 255);
    clear: both;
}
header > h1{
    text-align: center;
    color: sienna;
}
.right a:link{
    color:brown;
    text-decoration: none;
}
.right a:hover{
    font-size: 1.2em;
}
footer a:link{
    text-decoration: none;    
}
.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
